.emet {
  margin-top: 80px;

  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  &__image {
    height: 672px;
    width: 471px;

    grid-area: 1 / 15 / 11 / 24;
  }

  &__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;

    margin: 0;

    width: 871px;

    grid-area: 1 / 3 / 4 / 15;
  }

  &__textList {
    display: inline-block;

    width: 627px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: lowercase;

    color: #373737;
    margin: 0;
  }

  &__check {
    margin-right: 40px;
    margin: auto 40px auto 0;
    display: inline-block;
  }
  }
  .emet-list--1 { grid-area: 4 / 4 / 5 / 15; }
  .emet-list--2 { grid-area: 5 / 4 / 6 / 15; }
  .emet-list--3 { grid-area: 6 / 4 / 7 / 15; }
  .emet-list--4 { grid-area: 7 / 4 / 8 / 15; }
  .emet-list--5 { grid-area: 8 / 4 / 9 / 15; }
  .emet-list--6 { grid-area: 9 / 4 / 10 / 15; }